%h2 Welcome Roo&Qoo.com!
%p ここに書くこと考え中
%hr
%h2 近況報告
%p 思い立って改装中です かっこよくしたいです
%p
  11/1 C85 受かりました！！ 2日目12/30(月) F-25a "ラクエスク"でお待ちしております！
  %br
  頒布物情報は追い追い公開していきますー。
%hr
%p
  ヘッダ画像は
  %a{:href => "http://twitter.com/ntm39", :target=> "blank"} ナツメサク
  さんによるイラストです
