%h2 Welcome Roo&Qoo.com!
%p ここに書くこと考え中
%hr
%h2 近況報告
%p 思い立って改装中です かっこよくしたいです
%p
  8/16 C85に応募しました。受かるといいなあ…。
%hr
%p
  ヘッダ画像は
  %a{:href => "http://twitter.com/ntm39", :target=> "blank"} ナツメサク
  さんによるイラストです
