%h2 Welcome Roo&Qoo.com!
%p ここに書くこと考え中
%hr
%h2 近況報告
%p 思い立って改装中です かっこよくしたいです
%p
  12/4 新刊特設サイト公開しました！
  %a{:href => "http://rooandqoo.com/chrysoberyl2/", :target => "blank"}こちら
  からどうぞ！
  %br
  2日目12/30(月) F-25a "ラクエスク"でお待ちしております！おしながき的なやつはまた直前に…
  %br
  更に更に、当日は東エ-48bにてAtomicAge本も出ます。そちらの特設は
  %a{:href => "http://rooandqoo.com/period", :target => "blank"}　こちら！
%hr
%p
  ヘッダ画像は
  %a{:href => "http://twitter.com/ntm39", :target=> "blank"} ナツメサク
  さんによるイラストです
