%h2 Welcome Roo&Qoo.com!
%p ここに書くこと考え中
%hr
%h2 近況報告
%p 思い立って改装中です かっこよくしたいです
%p
  8/12 コミケ3日目で売り子やります！ルーアンドクー本、ステッカー、また新グッズのストラップを委託してます
  %br
  詳細やサンプルは
  %a{:href => "http://denichan.net/blog/?p=1611", :target => "blank" }こちら
  「8/12(月) 東 ウ16-b デニムしすぎ?」にてお待ちしております
%p
  8/14
  %a{:href => "http://www.cosmicraise.net/events/20130814", :target => "blank" } beatmania IIDX 片手界頂上決戦
  のお手伝いとかやります 楽しい企画になると思いますのでぜひ
%hr
%p
  ヘッダ画像は
  %a{:href => "http://twitter.com/ntm39", :target=> "blank"} ナツメサク
  さんによるイラストです
