%h2 Welcome Roo&Qoo.com!
%div.content
  %p ここに書くこと考え中
%h3 近況報告
%div.content
  %p 思い立って改装中です かっこよくしたいです
  %p
    13/05/04
    %br
    6/21(土)に自身初のオーガナイザーを務めます、トランスオンリーなクラブイベントをやります！
    イベント特設ページは
    %a{:href => "http://strtsphr.net/", :target=> "blank"} こちら
    僕も'Cherry Blossoms'という名義でkasdfさんとB2Bをやります。
    トランス好きな方は是非いらしてください！
    %br
  %p
    13/01/02 あけましておめでとうございます。
    %br
    コミケでスペースまでいらしてくださった方、ありがとうございました！
    Chrysoberylは売り切れてしまいましたが、Chrysoberyl2は通販も受け付けております。
    %a{:href => "https://rooandqoo.booth.pm/", :target=> "blank"} こちら
    からお買い求めくださいませ。
    %br
  %hr
  %p
    ヘッダ画像は
    %a{:href => "http://twitter.com/ntm39", :target=> "blank"} ナツメサク
    さんによるイラストです
