%h2 About Me
%p.text
  %strong
    @RooandQoo a.k.a Keisuke SASAKI
  %br
  One of: 946-NCT / UEC / 
  %a(href="http://www.atomic--age.net")AtomicAge.net / 
  %a(href="http://www.cosmicraise.net")CosmicRaise.net 
  %ul
    %li
      %a(href="http://twitter.com/RooandQoo")twitter
    %li
      %a(href="http://www.facebook.com/rooandqoo")facebook
    %li
      %a(href="http://www.flickr.com/photos/rooandqoo/")flickr
    %li
      %a(href="http://rooandqoo.tumblr.com/")tumblr
 
