%h2 自己紹介
%p.text
  %strong
    るーく(@RooandQoo) / Keisuke SASAKI
  %br
  北海道は釧路出身、基本的に音ゲーマーな院生やってます 高専カンファレンスなどに顔出しつつ、たまにスマホアプリをつくったりしています
  %br
  ぱぷさんによるオリジナルキャラクター「るー子」と「くー子」によるユニット(?)ルーアンドクーと一緒に生活していて、
  ナツメサクさんと一緒にルーアンドクーの本やグッズを展開する同人サークル「ラクエスク」を主宰しています
  %br
  また、音楽ゲームの情報やイベント告知をやっております
  %a(href="http://www.atomic--age.net")AtomicAge.net
  と
  %a(href="http://www.cosmicraise.net")CosmicRaise.net
  を運営しております
  %br
  各種SNSへはこちらからどうぞ
  %ul
    %li
      %a(href="http://twitter.com/RooandQoo")twitter
    %li
      %a(href="http://www.facebook.com/rooandqoo")facebook
    %li
      %a(href="http://www.flickr.com/photos/rooandqoo/")flickr
    %li
      %a(href="http://rooandqoo.tumblr.com/")tumblr
 
