%h2 What's Roo & Qoo?
%p
  手乗りサイズの双子の妖精、るー子とくー子。二人合わせて「ルーアンドクー」です。
  るー子はねこ耳でお姉さん、くー子がうさ耳で妹です。
%h3 簡易プロフィール
%p
  後でもうちょっとうまいことなんとかします
%table
  %tr
    %th 名前
    %td るー子(Roo-ko)
    %td くー子(Qoo-ko)
  %tr
    %th 好きなもの
    %td いちごのタルト、春、夏、くー子
    %td モンブラン、秋、冬、るー子
  %tr
    %th 苦手なもの
    %td 茄子
    %td しいたけ
  %tr
    %th 趣味
    %td スポーツ全般、身体を動かすこと
    %td 料理(特にお菓子)、裁縫、園芸
%h3 関連リンク
%h4
  %a(href="http://gallery.rooandqoo.com/")Roo&Qoo Gallery(Tumblr)
%p 皆様から頂いたルーアンドクーのイラスト等を展示しています
%h4
  %a(href="/chrysoberyl/index.html")Roo&Qoo Anthology
%p 2013年1月に発行したイラストアンソロジー、通称「ルーアンドクー本」の特設ページです
%h4
  %a(href="http://aday.rooandqoo.com/")Roo&Qoo A Day
%p 週に1度、各曜日の担当がルーアンドクーに関する何かをpostするブログです
%h4
  %a(href="http://rooandqoo.stores.jp")Roo&Qoo Store
%p ルーアンドクーグッズの通販ページです
 
