%h2 What's Roo & Qoo?
%div.content
  %p
    手乗りサイズの双子の妖精、るー子とくー子。二人合わせて「ルーアンドクー」です。
    %br
    「誰かの夢を叶えるお手伝い」をするために日々頑張っていますが、まだまだ見習いなのでうまくいかないことも。
    %br
    るー子はねこ耳でお姉さん、くー子がうさ耳で妹です。
    %br
    妖精なので年齢や血液型といった概念はありませんが、見た目年齢は10歳位、誕生日は9月23日らしいです。
%h3 プロフィール
%table
  %tr
    %th 名前
    %td
      %a(href="http://gallery.rooandqoo.com/post/16072663771" target="blank")
        るー子(Roo-ko)
      %a(href="http://gallery.rooandqoo.com/post/59031013952/raqaday-friday-rooandqoo" target="blank")
        冬服
    %td
      %a(href="http://gallery.rooandqoo.com/post/16072636198/2011" target="blank")
        くー子(Qoo-ko)
      %a(href="http://gallery.rooandqoo.com/post/58066322192" target="blank")
        夏服
  %tr
    %th 見た目の特徴とか
    %td
      猫耳、花型の髪飾り、二又になった前髪が特徴。
      くー子に比べると襟足がちょっと長くてふわっとしたボリュームあり。
      ワンピースが好き。
      透明な音符のオブジェ(出し入れは自由なようす)をたまに持っているが用途は不明。
    %td
      うさ耳、マフラー、重めの前髪が特徴。
      襟足短め、あまりボリュームはなくスッキリとした髪型。
      夏場は髪が横に跳ね、うさ耳が立つ。
  %tr
    %th 好きなもの
    %td いちごのタルト、ぶどう、春、夏、くー子
    %td モンブラン、梨、冬、秋、るー子
  %tr
    %th 好きな色
    %td 緑、黄色、オレンジ
    %td 緑、赤、グレー
  %tr
    %th 好きなブリ
    %td 照り焼き
    %td 煮付け
  %tr
    %th 苦手なもの
    %td 茄子、レンコン(断面が苦手)
    %td しいたけ
  %tr
    %th 性格
    %td
      よく妹と間違われるため常にお姉さんっぽく振る舞う努力をしているが、よくドジを踏んでしまう。
      基本的には明るく元気。慣れない人には最初人見知りするが、慣れた相手にはとてもよく喋る。
    %td
      あまり表情が動かず口数も少ないクール系、しかし人見知りなわけではない。
      ドジを踏みがちなるー子を守りたいと思っていて、るー子をよくいじるのは愛情の裏返し。
  %tr
    %th 趣味
    %td
      スポーツ全般(1人でできるものがメイン)、身体を動かすこと <br />
      でも運動神経でくー子に勝てないのがちょっとだけ悔しい
    %td
      料理(特にお菓子)、裁縫、園芸(お花からお野菜まで) <br />
      実は料理はるー子の方がうまい
  %tr
    %th 相手の呼び方
    %td くーこ、くー
    %td るーちゃん
%p 思いついたタイミングで適当に増えていきます
%h3 グッズとか
同人サークル「ラクエスク」として、
%a(href="http://twitter.com/ntm39" target="blank")ナツメサク
さんと一緒に色々つくっております
%ul
  %li
    %a(href="/chrysoberyl2/" target="blank")イラストアンソロジー第2弾「Chrysoberyl:|(2) -Roo&Qoo&XXX-」
    %br
    2013年12月(C85)発行。ゲスト29名と自分のイラストが載ってます！表紙は豪華箔押し仕様。
  %li
    %a(href="/chrysoberyl/index.html" target="blank")イラストアンソロジー「Chrysoberyl -Roo&Qoo Collection-」
    %br
    2013年1月発行、通称「ルーアンドクー本」です。ゲスト16名と自分のイラストが載ってます
  %li
    %a(href="http://gallery.rooandqoo.com/post/50890276181/2" target="blank")ステッカー
    %br
    %a(href="http://twitter.com/ntm39" target="blank")ナツメサク
    さんに描いていただいたイラストをステッカーにしました
  %li
    %a(href="http://gallery.rooandqoo.com/post/58418685940/upfordead" target="blank")ラバーストラップ
    %br
    こちらは
    %a(href="http://twitter.com/upfordead" target="blank")斉藤アキ
    さんデザインです かなり大きくて目立ちます

%h3 関連リンク
%h4
  %a(href="http://gallery.rooandqoo.com/")Roo&Qoo Gallery(Tumblr)
%p 皆様から頂いたルーアンドクーのイラスト等を展示しています
%h4
  %a(href="http://aday.rooandqoo.com/")Roo&Qoo A Day
%p 週に1度、各曜日の担当がルーアンドクーに関する何かをpostするブログです
%h4
  %a(href="https://rooandqoo.booth.pm/")ルーアンドクーアンドブース
%p ルーアンドクーグッズの通販ページです
%h3 小話(タイトルクリックで開きます)
%h4
  =link_to_function 'ルーアンドクーの生い立ち', "display()"
%div#history
  ルーアンドクーの生い立ちは、僕が「ツイッターのアイコン用にキャラを描いてくれ〜」とぱぷさんという方にお願いしたところ、
  %a(href="http://gallery.rooandqoo.com/post/16072606438" target="blank")ねこ耳のキャラ
  が上がってきたのが始まりでした。
  これが後のるー子になります。2010年の夏のことでした。
  翌年の2011年、兎年ということもあり、「うさ耳のキャラを描いて欲しい！」とまたムチャぶりをお願いし、上がってきたのが
  %a(href="http://gallery.rooandqoo.com/post/16072636198/2011" target="blank")くー子
  です。
  当初は名前がなかったんですが、僕がツイッターのアカウントを「rooandqoo」で取っていたこともあり、
  「じゃあこの子たちをルーアンドクーにしよう」という軽いノリで名前をつけるに至りました。
  今ではすっかり僕の人生の中心にいる二人の娘です。

