%h2 What's Roo & Qoo?
%p
  手乗りサイズの双子の妖精、るー子とくー子。二人合わせて「ルーアンドクー」です。
  %br
  るー子はねこ耳でお姉さん、くー子がうさ耳で妹です。
  %br
  妖精なので、年齢や血液型といった概念はありませんが、誕生日は9月23日らしいです。
%h3 プロフィール
%table
  %tr
    %th 名前
    %td るー子(Roo-ko)
    %td くー子(Qoo-ko)
  %tr
    %th 好きなもの
    %td いちごのタルト、春、夏、くー子
    %td モンブラン、秋、冬、るー子
  %tr
    %th 苦手なもの
    %td 茄子
    %td しいたけ
  %tr
    %th 趣味
    %td スポーツ全般、身体を動かすこと
    %td 料理(特にお菓子)、裁縫、園芸
%p 思いついたタイミングで適当に増えていきます
%h3 グッズとか
物欲しさに色々と作っております
%ul
  %li
    %a(href="/chrysoberyl/index.html" target="blank")イラストアンソロジー「Chrysoberyl -Roo&Qoo Collection-」
    %br
    2013年1月発行、通称「ルーアンドクー本」です。ゲスト16名と自分のイラストが載ってます
  %li
    ステッカー
    %br
    %a(href="http://twitter.com/ntm39" target="blank")ナツメサク
    さんに描いていただいたイラストをステッカーにしました
  %li
    ラバーストラップ
    %br
    こちらは
    %a(href="http://twitter.com/upfordead" target="blank")斉藤アキ
    さんデザインです かなり大きくて目立ちます

%h3 関連リンク
%h4
  %a(href="http://gallery.rooandqoo.com/")Roo&Qoo Gallery(Tumblr)
%p 皆様から頂いたルーアンドクーのイラスト等を展示しています
%h4
  %a(href="http://aday.rooandqoo.com/")Roo&Qoo A Day
%p 週に1度、各曜日の担当がルーアンドクーに関する何かをpostするブログです
%h4
  %a(href="http://rooandqoo.stores.jp")Roo&Qoo Store
%p ルーアンドクーグッズの通販ページです
%h3 小話(タイトルクリックで開きます)
%h4
  =link_to_function 'ルーアンドクーの生い立ち', "display()"
%div#history
  ルーアンドクーの生い立ちは、僕が「ツイッターのアイコン用にキャラを描いてくれ〜」と某氏にお願いしたところ、
  %a(href="http://gallery.rooandqoo.com/post/16072606438" target="blank")ねこ耳のキャラ
  が上がってきたのが始まりでした。
  これが後のるー子になります。2010年の夏のことでした。
  翌年の2011年、兎年ということもあり、「うさ耳のキャラを描いて欲しい！」とまたムチャぶりをお願いし、上がってきたのが
  %a(href="http://gallery.rooandqoo.com/post/16072636198/2011" target="blank")くー子
  です。
  当初は名前がなかったんですが、僕がツイッターのアカウントを「rooandqoo」で取っていたこともあり、
  「じゃあこの子たちをルーアンドクーにしよう」という軽いノリで名前をつけるに至りました。
  今ではすっかり僕の人生の中心にいる二人の娘です。子煩悩で恥ずかしいですね。

