%h2 works
%p.text
  %ul
    %li
      %a(href="https://play.google.com/store/apps/details?id=com.rooandqoo.iidxclear")IIDX Clear Manager(Android)
    %li
      %a(href="https://play.google.com/store/apps/details?id=com.rooandqoo.popnnotesp")pop'n Note(Android)
    %li
      %a(href="https://play.google.com/store/apps/details?id=com.rooandqoo.lcsu")LUV CAN SAVE U App(Android)
    %li
      %a(href="https://play.google.com/store/apps/details?id=com.rooandqoo.tricoromedals")tricoro Medal Checker(Android)
    %li
      IIDX MADOKA CUP Score Registration System(Rails)(closed)
    %li
      Yamanote Line Sugoroku(Rails)(coming soon)
