%h2 Works
%h3 2015年
%div.content
  %h4
    %a(href="http://strtsphr.net/exodus/")05/05 DOLCE.CUP
  DOLCE.さん主催のbeatmaniaIIDXの大会です。企画、運営してます
  %h4
    %a(href="http://strtsphr.net")02/28 Stratosphere TRINITY
  トランス好きによるトランス好きのためのクラブイベント、第3弾です
%h3 2014年
%div.content
  %h4 12/30 C87 サークル参加
  新刊「
  %a(href="http://rooandqoo.com/c87/")Dioptase & クリノクロア
  」を発行しました。
  %h4
    %a(href="http://www.cosmicraise.net/events/20141213")12/13 DAC 2014
  2012, 2013年に続くIIDXDPの全国大会です
  %h4
    %a(href="http://strtsphr.net/exodus/")11/15 Stratosphere EXODUS
  トランス好きによるトランス好きのためのクラブイベント、第2弾です
  %h4
    %a(href="http://www.cosmicraise.net/events/20141102")11/02 UNITE 2014
  2013年に開催したUNITEの第2回大会です
  %h4 08/17 C86 サークル参加
  音楽CD「
  %a(href="http://rooandqoo.com/fu/")Flowers Unfold
  」を発行しました。
  %h4
    %a(href="http://www.cosmicraise.net/events/20140628")06/28 IIDXゆとりバトル2
  若き双鍵の獅子2人によるガチバトル企画です
  %h4
    %a(href="http://strtsphr.net")06/21 Stratosphere
  トランス好きによるトランス好きのためのクラブイベントです
  %h4
    %a(href="http://www.cosmicraise.net/events/20140426")04/26 Q -IIDX ☆9 Championship-
  beatmaniaIIDX のLEVEL9オンリー大会です
%h3 2013年
%div.content
  %h4 12/30 C85 サークル参加
  ラクエスクとして初めての活動。新刊「
  %a(href="http://rooandqoo.com/chrysoberyl2/")Chrysoberyl2 -Roo&Qoo&XXX-
  」を発行しました。
  %h4
    %a(href="http://www.cosmicraise.net/events/20131228")12/28 DAC 2013
  2012年に続くIIDXDPの全国大会です
  %h4
    %a(href="http://www.cosmicraise.net/events/20131221")12/23 SDVXII ultimate teambattle "UNITE"
  SOUND VOLTEXの大会、3人一組で頂点を目指します。ポスターの公募企画などもやらせていただきました
  %h4
    %a(href="http://www.cosmicraise.net/events/20130814")8/14 CELI VS KSSA10 片手界頂上決戦
  beatmania IIDXの片手プレイヤーとしてトップを走り続ける二人のガチンコバトルです
  %h4 山手線スゴロクアプリ(ソース公開予定)
  %p
    山手線スゴロクというリアルボードゲーム用のアプリです。開催した時の様子はこちらからどうぞ
    %a(href="http://togetter.com/li/298787")第1回
    %a(href="http://togetter.com/li/383169")第2回
    %a(href="http://togetter.com/li/523058")第3回
  %h4 04/28 IIDX MADOKA CUP および スコア登録システム(Rails)
  %a(href="http://www.cosmicraise.net/events/puella_magi")IIDX MADOKA CUP
  を開催した際につくったスコア登録システムです 今はクローズしています
  %h4
    %a(href="https://play.google.com/store/apps/details?id=com.rooandqoo.popnnotesp")ポップンノートSP(Android)
  %p
    ポップンノートのSunnyPark対応版です
    作りかけなので早めになんとかしたいです
%h3 2012年
%div.content
  %h4
    %a(href="http://www.cosmicraise.net/events/20121222dptournament")12/22 DAC 2012
  IIDXDPの大会です
  %h4
    %a(href="https://play.google.com/store/apps/details?id=com.rooandqoo.lcsu")LUV CAN SAVE Uアプリ(Android)
  %p
    beatmania IIDX tricoroに収録されている楽曲"LUV CAN SAVE U"のムービーに出てくるお兄さんのモノマネが楽しめるアプリです
  %h4
    %a(href="https://play.google.com/store/apps/details?id=com.rooandqoo.tricoromedals")tricoro Medal Checker(Android)
  %p
    beatmania IIDX tricoroにおいて集めることができるトランメダルを管理するアプリです
  %h4
    %a(href="http://www.cosmicraise.net/events/20120811")08/11 OMANDA VS YOPPI- DPゆとりバトル
  IIDXDPのトップランカー、OMANDA氏とYOPPI-氏によるガチンコバトルイベントです
  %h4
    %a(href="http://www.cosmicraise.net/events/20120623")06/23 ENOKI VS ENDURE 中堅ガチバトル
  CosmicRaise.net最初のイベント、巷で中堅ランカーと呼ばれるお二人のガチンコバトルイベントです
%h3 2011年
%div.content
  %h4
    %a(href="https://play.google.com/store/apps/details?id=com.rooandqoo.popnnotesp")ポップンノート(Android)
  %p
    ポップンミュージックのクリアメダルをローカルで管理できるアプリです
    現在はSP版に移行してます
  %h4
    %a(href="https://play.google.com/store/apps/details?id=com.rooandqoo.iidxclear")IIDX Clear Manager(Android)
  %p
    beatmania IIDXのクリアランプをローカルで管理できるアプリです
