/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  color: #4f4f4f;
  font-size: 12px;
  background-image: url(background.gif);
}

#mainWrapper {
  width: 800px;
  margin: 0 auto;
}

#Logo {
  width: 800px;
  text-align: center;
}

.navi {
  width: 800px;
  height: 30px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.navi_item {
  width: 200px;
  height: 30px;
  float: left;
  padding-top: 10px;
  font-size: 16px;
  font-family: 'Julius Sans One', sans-serif;
  background-color: #deffde;
  text-align: center;
}

#footer {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #333;
  text-align: center;
  font-size: 9px;
  font-family: Verdana, Geneva, sans-serif;
  padding-top: 5px;
}
