// Place all the styles related to the raq controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  background: #cedfc1;
  border-bottom: 7px solid #5d9732;
  padding: .8em .9em .3em;
}

h3 {
  border-left:7px solid #4a7828;
  border-bottom:1px dashed #4a7828;
  padding:.6em .8em
}

#profile table, th, td {
  border: 1px #4a7828 solid;
  border-collapse: collapse;
  text-align: center;
}

.row_borderless tr, th, td{
  border-style: dotted none;
}

th {
  width: 120px;
}

td {
  width: 42%;
}

.content {
  padding: 0 0 0 .8em;
}

.character {
  width: 250px;
}

#social ul {
  display: block;
  padding: 10px auto;
  height: 40px;
  vertical-align: middle;
}

#social li {
  display: block;
  float: left;
  margin-left: 5px;
  vertical-align: middle;
}

